p>img{
    width: 150x;
    height: 150px;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 5px 5px green;
}
p>img:hover{
    box-shadow: 5px 10px red;
}